# Atividade04 - Pandas para Análise e Tratamento de Dados

**Conteúdo**
- Leitura de dados
- Filtros
- Agregações
- Agrupamentos
- Pivot Tables
- Estatísticas
- Séries Temporais

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#configuração do notebook para acesso aos datasets no drive
path = '/content/drive/MyDrive/2022_2_extensao_adp/datasets/'

In [ ]:
import pandas as pd
# definicao dos dados em listas
referencias = ['jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set']
cdi = [0.54, 0.49, 0.47, 0.52, 0.54, 0.47, 0.57, 0.50, 0.46]
ipca = [0.32, 0.43, 0.75, 0.57, 0.13, 0.01, 0.19, 0.11, -0.04]
igpm = [0.01, 0.88, 1.26, 0.92, 0.45, 0.80, 0.40, -0.67, -0.01]

In [ ]:
# criação do dataframe e definição do índice
indicadores = pd.DataFrame(data={'IPCA': ipca, 'CDI': cdi, 'IGPM': igpm}, index=referencias)
indicadores

     IPCA   CDI  IGPM
jan  0.32  0.54  0.01
fev  0.43  0.49  0.88
mar  0.75  0.47  1.26
abr  0.57  0.52  0.92
mai  0.13  0.54  0.45
jun  0.01  0.47  0.80
jul  0.19  0.57  0.40
ago  0.11  0.50 -0.67
set -0.04  0.46 -0.01

**1** Selecionar o CDI de todos os meses jan, mar, abr, jun, set

In [ ]:
# Solução

**2** Filtrar todos os registros nos quais o IGP-M é maior que o IPCA

In [ ]:
# Solução

**3** Apresentar todas os registros nos quais o 
IGPM é menor ou igual ao IPCA e o CDI, ou menor ou igual ao IPCA e maior ou igual ao CDI, ou maior ou igual ao IPCA e menor ou igual ao CDI

In [ ]:
# Solução

**4** Apresentar o IPCA nos meses nos quais o IGPM foi negativo

In [ ]:
# Solução

#### Carregue os dados da aba 2 do arquivo *bec_exel_abas.xlsx*

In [ ]:
bec_abas = pd.read_excel(path+'/02-DS_BEC_abas.xlsx',
                         sheet_name=1)
bec_abas.head(5)

,Cód Desc Órgão,Mês Ano Encerramento,Valor Total Negociado em R$,Descrição Procedimento Compra,Código e Descrição Técnica do Grupo
0,01000 - ASSEMBLEIA LEGISLATIVA,2019-09-01,673.2,DISPENSA DE LICITAÇÃO,36 - MAQUINAS E EQUIPAMENTOS PARA INDUSTRIAS E...
1,01000 - ASSEMBLEIA LEGISLATIVA,2019-09-01,1880.0,DISPENSA DE LICITAÇÃO,71 - MOBILIARIOS EM GERAL
2,01000 - ASSEMBLEIA LEGISLATIVA,2019-09-01,340.0,DISPENSA DE LICITAÇÃO,"83 - TECIDOS, COUROS, PELES, AVIAMENTOS, BARRA..."
3,01000 - ASSEMBLEIA LEGISLATIVA,2019-09-01,1104.0,DISPENSA DE LICITAÇÃO,86 - INFORMATICA
4,01000 - ASSEMBLEIA LEGISLATIVA,2019-09-01,1090.0,DISPENSA DE LICITAÇÃO,89 - GENEROS ALIMENTICIOS

**5** Listar os 5 maiores valores negociados em uma licitação a partir do arquivo carregado *bec_excel_abas.xlsx*

In [ ]:
# Solução

In [ ]:
# dados públicos da BEC para análise 
df_bec = pd.read_excel(path+'/03-DS_BEC.xlsx')
df_bec = df_bec[['Cód Desc Órgão', 'Mês Ano Encerramento', 'Cod Desc Fornecedor', 'Descrição Procedimento Compra', 'Cod Desc Item', 'Quantidade de Item','Valor Unitário Negociado', 'Valor Total Negociado em R$']]
# criando uma nova coluna
df_bec['Valor Negociado Mi'] = df_bec['Valor Total Negociado em R$'] / 1000000
df_bec.head(4)

,Cód Desc Órgão,Mês Ano Encerramento,Cod Desc Fornecedor,Descrição Procedimento Compra,Cod Desc Item,Quantidade de Item,Valor Unitário Negociado,Valor Total Negociado em R$,Valor Negociado Mi
0,01000 - ASSEMBLEIA LEGISLATIVA,2019-09-01,28363983000140 - OFICIAL WEB COMERCIAL LTDA - ME,DISPENSA DE LICITAÇÃO,"4843274 - FILME PROTETIVO, DE POLIESTER, 1,00X...",1,168.3,673.2,0.000673
1,01000 - ASSEMBLEIA LEGISLATIVA,2019-09-01,12517378000146 - A. C. DOS SANTOS MÓVEIS ME,DISPENSA DE LICITAÇÃO,"4863801 - ESTANTE DESMONTAVEL DE ACO,ABERTA,06...",1,235.0,1880.0,0.001880
2,01000 - ASSEMBLEIA LEGISLATIVA,2019-09-01,17365274000187 - CBF COMÉRCIO DE CONFECÇÕES BA...,DISPENSA DE LICITAÇÃO,"4628020 - BANDEIRA,MUNICIPIO DE SAO PAULO, MED...",1,170.0,340.0,0.000340
3,01000 - ASSEMBLEIA LEGISLATIVA,2019-09-01,23183671000130 - GALEQ COMÉRCIO INTERNACIONAL ...,DISPENSA DE LICITAÇÃO,"5133017 - NO-BREAK, 600 VA",1,27.6,1104.0,0.001104

**6** Contar quantos orgãos distintos efetuaram licitações pela BEC

In [ ]:
# Solução

**7** Calcular o total valor total negociado em licitações pelo órgão '20000 - SECRETARIA DA FAZENDA E PLANEJAMENTO'

In [ ]:
# Solução

**8** Calcular a quantidade de fornecedores de cada órgão distribuídos nos tipos distintos de procedimentos de compra. Listar apenas 6 registros

In [ ]:
# Solução

**9** Calcular o valor mínimo, máximo, média e desvio padrão dos valores unitarios agrupados por fornecedor e código de descrição do item.

In [ ]:
# Solução

**10** Calcular o valor total negociado por tipo de licitação em cada encerramento de mês. O encerramento do mês deve ser apresentado como coluna e o tipo de licitação como linha. Utilizar o total negociado em milhões (Valor Negociado Mi).

In [ ]:
# Solução

**11** Calcular o valor total negociado e quantidade de itens adquiridas em cada encerramento de mês apresentando o mês como coluna.

In [ ]:
# Solução

In [ ]:
# atualizar o pacote data reader
!pip install --upgrade pandas-datareader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (0.10.0)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (4.9.1)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2022.2.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2022.6.15)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)

In [ ]:
# recuperação da cotação da VALE3
from pandas_datareader import data
df_vale3 = data.DataReader('VALE3.SA', start='2010', end='2020', data_source='yahoo')
df_vale3.tail()

                 High        Low       Open      Close      Volume  Adj Close
Date
2019-12-20  54.990002  54.150002  54.770000  54.790001  42124200.0  39.872864
2019-12-23  54.980000  54.400002  54.900002  54.580002  10225700.0  39.720043
2019-12-26  55.000000  54.509998  54.810001  54.790001  20410000.0  39.872864
2019-12-27  54.000000  53.419998  53.990002  53.599998  13920400.0  40.040470
2019-12-30  53.860001  53.200001  53.650002  53.299999  11928100.0  39.816364

**12** Criar uma coluna com o valor do retorno diário da VALE3 baseado no valor de fechamento (Close) 

*Retorno diário(t) = Close(t) - Close(t-1)*

In [ ]:
# Solução