# Atividade04 - <font color='red'>Solução</font> -  Pandas para Análise e Tratamento de Dados

**Conteúdo**
- Leitura de dados
- Filtros
- Agregações
- Agrupamentos
- Pivot Tables
- Estatísticas
- Séries Temporais

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#configuração do notebook para acesso aos datasets no drive
path = '/content/drive/MyDrive/2022_2_extensao_adp/datasets/'

In [ ]:
import pandas as pd
# definicao dos dados em listas
referencias = ['jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set']
cdi = [0.54, 0.49, 0.47, 0.52, 0.54, 0.47, 0.57, 0.50, 0.46]
ipca = [0.32, 0.43, 0.75, 0.57, 0.13, 0.01, 0.19, 0.11, -0.04]
igpm = [0.01, 0.88, 1.26, 0.92, 0.45, 0.80, 0.40, -0.67, -0.01]

In [ ]:
# criação do dataframe e definição do índice
indicadores = pd.DataFrame(data={'IPCA': ipca, 'CDI': cdi, 'IGPM': igpm}, index=referencias)
indicadores

     IPCA   CDI  IGPM
jan  0.32  0.54  0.01
fev  0.43  0.49  0.88
mar  0.75  0.47  1.26
abr  0.57  0.52  0.92
mai  0.13  0.54  0.45
jun  0.01  0.47  0.80
jul  0.19  0.57  0.40
ago  0.11  0.50 -0.67
set -0.04  0.46 -0.01

**1** Selecionar o CDI de todos os meses jan, mar, abr, jun, set

In [ ]:
# Solução
indicadores.loc[['jan', 'mar', 'abr', 'jun', 'set'],['CDI']]

      CDI
jan  0.54
mar  0.47
abr  0.52
jun  0.47
set  0.46

**2** Filtrar todos os registros nos quais o IGP-M é maior que o IPCA

In [ ]:
# Solução
indicadores[(indicadores['IGPM']>indicadores['IPCA'])]

     IPCA   CDI  IGPM
fev  0.43  0.49  0.88
mar  0.75  0.47  1.26
abr  0.57  0.52  0.92
mai  0.13  0.54  0.45
jun  0.01  0.47  0.80
jul  0.19  0.57  0.40
set -0.04  0.46 -0.01

**3** Apresentar todas os registros nos quais o IGPM é menor ou igual ao IPCA e o CDI ou menor ou igual ao IPCA e maior ou igual ao CDI ou maior ou igual ao IPCA e menor ou igual ao CDI

In [ ]:
# Solução
indicadores[((indicadores['IGPM']<=indicadores['IPCA']) 
            & (indicadores['IGPM']<=indicadores['CDI']))|
           ((indicadores['IGPM']>=indicadores['IPCA']) 
            & (indicadores['IGPM']<=indicadores['CDI']))|
           ((indicadores['IGPM']<=indicadores['IPCA']) 
            & (indicadores['IGPM']>=indicadores['CDI']))]

     IPCA   CDI  IGPM
jan  0.32  0.54  0.01
mai  0.13  0.54  0.45
jul  0.19  0.57  0.40
ago  0.11  0.50 -0.67
set -0.04  0.46 -0.01

In [ ]:
# solução alternativa
indicadores[~((indicadores['IGPM']>=indicadores['IPCA']) 
            & (indicadores['IGPM']>=indicadores['CDI']))]

     IPCA   CDI  IGPM
jan  0.32  0.54  0.01
mai  0.13  0.54  0.45
jul  0.19  0.57  0.40
ago  0.11  0.50 -0.67
set -0.04  0.46 -0.01

**4** Apresentar o IPCA nos meses nos quais o IGPM foi negativo

In [ ]:
# Solução
indicadores.loc[indicadores['IGPM']<0, ['IPCA']]

     IPCA
ago  0.11
set -0.04

#### Carregue os dados da aba 2 do arquivo *bec_exel_abas.xlsx*

In [ ]:
bec_abas = pd.read_excel(path+'/02-DS_BEC_abas.xlsx',
                         sheet_name=1)
bec_abas.head(5)

,Cód Desc Órgão,Mês Ano Encerramento,Valor Total Negociado em R$,Descrição Procedimento Compra,Código e Descrição Técnica do Grupo
0,01000 - ASSEMBLEIA LEGISLATIVA,2019-09-01,673.2,DISPENSA DE LICITAÇÃO,36 - MAQUINAS E EQUIPAMENTOS PARA INDUSTRIAS E...
1,01000 - ASSEMBLEIA LEGISLATIVA,2019-09-01,1880.0,DISPENSA DE LICITAÇÃO,71 - MOBILIARIOS EM GERAL
2,01000 - ASSEMBLEIA LEGISLATIVA,2019-09-01,340.0,DISPENSA DE LICITAÇÃO,"83 - TECIDOS, COUROS, PELES, AVIAMENTOS, BARRA..."
3,01000 - ASSEMBLEIA LEGISLATIVA,2019-09-01,1104.0,DISPENSA DE LICITAÇÃO,86 - INFORMATICA
4,01000 - ASSEMBLEIA LEGISLATIVA,2019-09-01,1090.0,DISPENSA DE LICITAÇÃO,89 - GENEROS ALIMENTICIOS

**5** Listar os 5 maiores valores negociados em uma licitação a partir do arquivo carregado *bec_excel_abas.xlsx*

In [ ]:
# Solução
bec_abas.sort_values(by='Valor Total Negociado em R$',ascending=False).head(5)

,Cód Desc Órgão,Mês Ano Encerramento,Valor Total Negociado em R$,Descrição Procedimento Compra,Código e Descrição Técnica do Grupo
180438,37000 - SECRETARIA DOS TRANSPORTES METROPOLITANOS,2019-07-01,4.288788e+08,PREGÃO ELETRÔNICO,02 - SERVICOS ESPECIALIZADOS
178928,25000 - SECRETARIA DA HABITACAO,2019-07-01,2.562134e+08,PREGÃO ELETRÔNICO,08 - SERVICOS GERAIS
172107,18000 - SECRETARIA DA SEGURANCA PUBLICA,2019-10-01,1.390729e+08,PREGÃO ELETRÔNICO,05 - SERVICOS DE MANUTENCOES/CONSERVACOES DE B...
139558,09000 - SECRETARIA DA SAUDE,2019-10-01,9.663800e+07,PREGÃO ELETRÔNICO,"65 - EQUIPAMENTOS E ARTIGOS DE USO MEDICO, ODO..."
180594,37000 - SECRETARIA DOS TRANSPORTES METROPOLITANOS,2019-02-01,9.256481e+07,PREGÃO ELETRÔNICO,08 - SERVICOS GERAIS

In [ ]:
# dados públicos da BEC para análise 
df_bec = pd.read_excel(path+'/03-DS_BEC.xlsx')
df_bec = df_bec[['Cód Desc Órgão', 'Mês Ano Encerramento', 'Cod Desc Fornecedor', 'Descrição Procedimento Compra', 'Cod Desc Item', 'Quantidade de Item','Valor Unitário Negociado', 'Valor Total Negociado em R$']]
# criando uma nova coluna
df_bec['Valor Negociado Mi'] = df_bec['Valor Total Negociado em R$'] / 1000000
df_bec.head(4)

,Cód Desc Órgão,Mês Ano Encerramento,Cod Desc Fornecedor,Descrição Procedimento Compra,Cod Desc Item,Quantidade de Item,Valor Unitário Negociado,Valor Total Negociado em R$,Valor Negociado Mi
0,01000 - ASSEMBLEIA LEGISLATIVA,2019-09-01,28363983000140 - OFICIAL WEB COMERCIAL LTDA - ME,DISPENSA DE LICITAÇÃO,"4843274 - FILME PROTETIVO, DE POLIESTER, 1,00X...",1,168.3,673.2,0.000673
1,01000 - ASSEMBLEIA LEGISLATIVA,2019-09-01,12517378000146 - A. C. DOS SANTOS MÓVEIS ME,DISPENSA DE LICITAÇÃO,"4863801 - ESTANTE DESMONTAVEL DE ACO,ABERTA,06...",1,235.0,1880.0,0.001880
2,01000 - ASSEMBLEIA LEGISLATIVA,2019-09-01,17365274000187 - CBF COMÉRCIO DE CONFECÇÕES BA...,DISPENSA DE LICITAÇÃO,"4628020 - BANDEIRA,MUNICIPIO DE SAO PAULO, MED...",1,170.0,340.0,0.000340
3,01000 - ASSEMBLEIA LEGISLATIVA,2019-09-01,23183671000130 - GALEQ COMÉRCIO INTERNACIONAL ...,DISPENSA DE LICITAÇÃO,"5133017 - NO-BREAK, 600 VA",1,27.6,1104.0,0.001104

**6** Contar quantos orgãos distintos efetuaram licitações pela BEC

In [ ]:
# Solução
df_bec['Cód Desc Órgão'].nunique()

29

**7** Calcular o total valor total negociado em licitações pelo órgão '20000 - SECRETARIA DA FAZENDA E PLANEJAMENTO'

In [ ]:
# Solução
df_bec.loc[df_bec['Cód Desc Órgão']=='20000 - SECRETARIA DA FAZENDA E PLANEJAMENTO', 
           ['Valor Total Negociado em R$']].sum()

Valor Total Negociado em R$    4.446666e+07
dtype: float64

**8** Calcular a quantidade de fornecedores de cada órgão distribuídos nos tipos distintos de procedimentos de compra. Listar apenas 6 registros

In [ ]:
# Solução
df_bec.groupby(['Cód Desc Órgão', 
                'Descrição Procedimento Compra']).agg({'Cod Desc Fornecedor': 'count'}
                                                     ).iloc[0:6]

                                                                    Cod Desc Fornecedor
Cód Desc Órgão                       Descrição Procedimento Compra
01000 - ASSEMBLEIA LEGISLATIVA       DISPENSA DE LICITAÇÃO                          161
                                     PREGÃO ELETRÔNICO                               68
02000 - TRIBUNAL DE CONTAS DO ESTADO PREGÃO ELETRÔNICO                               61
03000 - TRIBUNAL DE JUSTICA          PREGÃO ELETRÔNICO                              560
06000 - TRIBUNAL DE JUSTICA MILITAR  DISPENSA DE LICITAÇÃO                            1
                                     PREGÃO ELETRÔNICO                               15

**9** Calcular o valor mínimo, máximo, média e desvio padrão dos valores unitarios agrupados por fornecedor e código de descrição do item.

In [ ]:
# Solução
df_bec.groupby(['Cod Desc Fornecedor', 
                'Cod Desc Item']).agg({'Valor Unitário Negociado': 
                                       ['min', 'max', 'mean', 'std']}
                )

                                                                                                      Valor Unitário Negociado  \
                                                                                                                           min
Cod Desc Fornecedor                                Cod Desc Item
00000028000129 - TARGET ENGENHARIA E CONSULTORI... 187844 - HOSPEDAGEM DE SERVIDORES                                 256700.00
00002314000123 - ELETRO SOLDAS COMERCIAL LTDA - ME 2133946 - SOLDA DE ACO CARBONO,TIPO ARAME,0,8MM                      228.75
                                                   2982315 - ACETILENO COMUM PARA SOLDA, CILINDRO ...                    49.80
                                                   3090582 - GAS ESPECIAL COMPOSTO POR 75% DE ARGO...                    34.50
                                                   3811980 - OXIGENIO, TIPO COMUM, PARA SOLDA, CIL...                   143.00
...                                                                                                                        ...
97520092000172 - ENDO MEDICAL IMPORTACAO E EXPO... 3972658 - PROTESE PENIANA EM ELASTOMERO DE SILI...                  1300.00
                                                   3972674 - PROTESE TESTICULAR EM GEL DE SILICONE...                   580.00
                                                   5344522 - PROTESE TESTICULAR                                         685.50
                                                   697001 - PROTESE P/TESTICULO,SILICONE,(TAM.GRANDE)                   685.50
                                                   771082 - GRAMPEADOR CIRURGICO LINEAR CORTANTE 7...                   500.00

                                                                                                                  \
                                                                                                             max
Cod Desc Fornecedor                                Cod Desc Item
00000028000129 - TARGET ENGENHARIA E CONSULTORI... 187844 - HOSPEDAGEM DE SERVIDORES                   256700.00
00002314000123 - ELETRO SOLDAS COMERCIAL LTDA - ME 2133946 - SOLDA DE ACO CARBONO,TIPO ARAME,0,8MM        228.75
                                                   2982315 - ACETILENO COMUM PARA SOLDA, CILINDRO ...      49.80
                                                   3090582 - GAS ESPECIAL COMPOSTO POR 75% DE ARGO...     398.00
                                                   3811980 - OXIGENIO, TIPO COMUM, PARA SOLDA, CIL...     143.00
...                                                                                                          ...
97520092000172 - ENDO MEDICAL IMPORTACAO E EXPO... 3972658 - PROTESE PENIANA EM ELASTOMERO DE SILI...    1300.00
                                                   3972674 - PROTESE TESTICULAR EM GEL DE SILICONE...     580.00
                                                   5344522 - PROTESE TESTICULAR                           685.50
                                                   697001 - PROTESE P/TESTICULO,SILICONE,(TAM.GRANDE)     685.50
                                                   771082 - GRAMPEADOR CIRURGICO LINEAR CORTANTE 7...     500.00

                                                                                                                      \
                                                                                                                mean
Cod Desc Fornecedor                                Cod Desc Item
00000028000129 - TARGET ENGENHARIA E CONSULTORI... 187844 - HOSPEDAGEM DE SERVIDORES                   256700.000000
00002314000123 - ELETRO SOLDAS COMERCIAL LTDA - ME 2133946 - SOLDA DE ACO CARBONO,TIPO ARAME,0,8MM        228.750000
                                                   2982315 - ACETILENO COMUM PARA SOLDA, CILINDRO ...      49.800000
                                                   3090582 - GAS ESPECIAL COMPOSTO POR 75% DE ARGO...     219.442857
                                                   3811980 - OXIGENIO, TIPO COMUM, PARA SOLDA, CIL...     143.000000
...                                                                                                              ...
97520092000172 - ENDO MEDICAL IMPORTACAO E EXPO... 3972658 - PROTESE PENIANA EM ELASTOMERO DE SILI...    1300.000000
                                                   3972674 - PROTESE TESTICULAR EM GEL DE SILICONE...     580.000000
                                                   5344522 - PROTESE TESTICULAR                           685.500000
                                                   697001 - PROTESE P/TESTICULO,SILICONE,(TAM.GRANDE)     685.500000
                                                   771082 - GRAMPEADOR CIRURGICO LINEAR CORTANTE 7...     500.000000


                                                                                                              std
Cod Desc Fornecedor                                Cod Desc Item
00000028000129 - TARGET ENGENHARIA E CONSULTORI... 187844 - HOSPEDAGEM DE SERVIDORES                          NaN
00002314000123 - ELETRO SOLDAS COMERCIAL LTDA - ME 2133946 - SOLDA DE ACO CARBONO,TIPO ARAME,0,8MM            NaN
                                                   2982315 - ACETILENO COMUM PARA SOLDA, CILINDRO ...         NaN
                                                   3090582 - GAS ESPECIAL COMPOSTO POR 75% DE ARGO...  171.543074
                                                   3811980 - OXIGENIO, TIPO COMUM, PARA SOLDA, CIL...         NaN
...                                                                                                           ...
97520092000172 - ENDO MEDICAL IMPORTACAO E EXPO... 3972658 - PROTESE PENIANA EM ELASTOMERO DE SILI...         NaN
                                                   3972674 - PROTESE TESTICULAR EM GEL DE SILICONE...         NaN
                                                   5344522 - PROTESE TESTICULAR                               NaN
                                                   697001 - PROTESE P/TESTICULO,SILICONE,(TAM.GRANDE)         NaN
                                                   771082 - GRAMPEADOR CIRURGICO LINEAR CORTANTE 7...         NaN

[107821 rows x 4 columns]

**10** Calcular o valor total negociado por tipo de licitação em cada encerramento de mês. O encerramento do mês deve ser apresentado como coluna e o tipo de licitação como linha. Utilizar o total negociado em milhões (Valor Negociado Mi).

In [ ]:
# Solução
df_bec.pivot_table(index='Descrição Procedimento Compra', values='Valor Negociado Mi', 
                   columns=['Mês Ano Encerramento'], aggfunc='sum')

Mês Ano Encerramento,2019-01-01,2019-02-01,2019-03-01,2019-04-01,2019-05-01,2019-06-01,2019-07-01,2019-08-01,2019-09-01,2019-10-01
Descrição Procedimento Compra,,,,,,,,,,
CONVITE,0.617384,6.527620,12.242390,16.265842,16.299405,15.315727,15.657040,14.285928,16.149827,8.385317
DISPENSA DE LICITAÇÃO,0.388945,1.923613,1.781703,2.043691,2.159285,1.632518,2.100204,2.622066,2.298117,1.330921
PREGÃO ELETRÔNICO,662.357855,784.421781,618.286229,706.860135,1304.711921,557.726509,1898.559984,1227.409424,1025.484839,706.683518

**11** Calcular o valor total negociado e quantidade de itens adquiridas em cada encerramento de mês apresentando o mês como coluna.

In [ ]:

# Solução
#df_bec.groupby('Mês Ano Encerramento').agg({'Valor Negociado Mi': 'sum',
#                                            'Quantidade de Item':'sum'})
df_bec.pivot_table(values=['Valor Negociado Mi','Quantidade de Item']
                   , columns='Mês Ano Encerramento', aggfunc='sum')

Mês Ano Encerramento,2019-01-01,2019-02-01,2019-03-01,2019-04-01,2019-05-01,2019-06-01,2019-07-01,2019-08-01,2019-09-01,2019-10-01
Quantidade de Item,4452.000000,11306.000000,18933.000000,27646.000000,25318.000000,20844.000000,24565.000000,26023.000000,26715.000000,13289.000000
Valor Negociado Mi,663.364183,792.873014,632.310322,725.169667,1323.170611,574.674755,1916.317227,1244.317418,1043.932783,716.399755

In [ ]:
# atualizar o pacote data reader
!pip install --upgrade pandas-datareader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (0.10.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (4.9.1)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2022.6.15)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)

In [ ]:
# recuperação da cotação da VALE3
from pandas_datareader import data
df_vale3 = data.DataReader('VALE3.SA', start='2010', end='2020', data_source='yahoo')
df_vale3.tail()

                 High        Low       Open      Close      Volume  Adj Close
Date
2019-12-20  54.990002  54.150002  54.770000  54.790001  42124200.0  39.872868
2019-12-23  54.980000  54.400002  54.900002  54.580002  10225700.0  39.720047
2019-12-26  55.000000  54.509998  54.810001  54.790001  20410000.0  39.872868
2019-12-27  54.000000  53.419998  53.990002  53.599998  13920400.0  40.040470
2019-12-30  53.860001  53.200001  53.650002  53.299999  11928100.0  39.816360

**12** Criar uma coluna com o valor do retorno diário da VALE3 baseado no valor de fechamento (Close) 

*Retorno diário(t) = Close(t) - Close(t-1)*

In [ ]:
# Solução
df_vale3['Close-1'] = df_vale3['Close'].shift(1, fill_value=0)
df_vale3['Daily Ret']=df_vale3['Close']-df_vale3['Close-1']
df_vale3.iloc[0,7]=0.0
df_vale3 = df_vale3.drop('Close-1', axis=1)
df_vale3.head(5)

,High,Low,Open,Close,Volume,Adj Close,Daily Ret
Date,,,,,,,
2010-01-04,51.490002,49.799999,50.189999,51.490002,2381400.0,26.098919,0.000000
2010-01-05,52.540001,51.240002,51.540001,51.970001,3001800.0,26.342224,0.480000
2010-01-06,53.369999,51.779999,52.000000,53.070000,2742800.0,26.899782,1.099998
2010-01-07,53.540001,52.500000,52.509998,53.290001,2543100.0,27.011293,0.220001
2010-01-08,54.240002,53.000000,53.299999,53.810001,2444500.0,27.274868,0.520000